{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col">
                        <a href="{{ path('userOrderList', {
                            'fieldName': 'amount',
                            'direction': app.request.query.get('direction') == 'ASC' ? 'DESC' : 'ASC'
                        }) }}" class="btn btn-light">ProductsCount</a></th>

                    <th scope="col"><a href="{{ path('userOrderList', {
                            'fieldName': 'o.updatedAt',
                            'direction': app.request.query.get('direction') == 'DESC' ? 'ASC' : 'DESC'
                        }) }}" class="btn btn-light">Updated At</a></th>

                    <th scope="col"><a href="{{ path('userOrderList', {
                            'fieldName': 'o.total',
                            'direction': app.request.query.get('direction') == 'ASC' ? 'DESC' : 'ASC'
                        })  }}" class="btn btn-light">Total</a></th>

                    <th scope="col"><a href="" class="btn btn-light">Status</a></th>
                    <th style="text-align: right" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        {% set sum = 0 %}
                        {% for orderProduct in order.orderProducts %}
                            {% set sum = sum + orderProduct.amount %}
                        {% endfor %}
                        <td><p class="hidden-text">{{ sum }}</p></td>
                        <td><p class="hidden-text">{{ order.updatedAt|date('Y-m-d H:i:s') }}</p></td>
                        <td><p class="hidden-text">{{ order.total }}</p></td>
                        <td><span class="badge badge-pill {{ order.status|statusToBadgeClass }}">{{ order.status }}</span></td>
                        <td class="float-right actions">
                            {% if order.status == 'sent'%}
                                <a href="{{ path('statusCompleted', {
                                    'id': order.id
                                }) }}" class="btn btn-dark btn-sm">Completed</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
