<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">МАГАЗИН</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'homepage' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('homepage') }}">Главная</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'productList' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('productList') }}">Список продуктов</a>
            </li>
            {% if is_granted('ROLE_MANAGER') %}
            <li class="nav-item {{ app.request.get('_route') == 'categoryList' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('categoryList') }}">Категории</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'categoryCreate' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('categoryCreate') }}">Создать категорию</a>
            </li>
            <li class="nav-item{{ app.request.get('_route') == 'productCreate' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('productCreate') }}">Добавить продукт</a>
            </li>
            <li class="nav-item{{ app.request.get('_route') == 'orderList' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('orderList') }}">Список заказов</a>
            </li>
            {% endif %}
            <li class="nav-item{{ app.request.get('_route') == 'basketProduct' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('basketProduct') }}">Корзина</a>
        </ul>
        <div class="navbar-nav">
            <form class="d-flex">
                <input class="form-control me-2" type="search" id="siteSearchInput" placeholder="Search" aria-label="Search" value="{{ app.request.query.get('query') }}">
                <button class="btn btn-outline-success" id="siteSearchSubmit" type="submit">Search</button>
            </form>
        </div>

        <ul class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
            <li class="nav-item{{ app.request.get('_route') == 'userRegisters' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('userRegisters') }}">Регистрация</a>
            <li class="nav-item{{ app.request.get('_route') == 'login' ? ' active' : '' }}">
                <a class="nav-link" href="{{ path('login') }}">Авторизация</a>
            </li>
            {% else %}
                <li class="nav-item{{ app.request.get('_route') == 'userOrderList' ? ' active' : '' }}">
                    <a class="nav-link" href="{{ path('userOrderList') }}">{{ app.user.email }}</a>
                </li>
                <li class="nav-item{{ app.request.get('_route') == 'app_logout' ? ' active' : '' }}">
                    <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>