{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Total</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for orderProduct in order.orderProducts %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ orderProduct.product.name }}</td>
                <td>{{ orderProduct.product.price/100 }} $</td>
                <td>{{ orderProduct.amount }}</td>
                <td>{{ orderProduct.product.price * orderProduct.amount/100 }} $</td>
                <td> <a href="{{ path('basketProductDelete', {
                        'id': orderProduct.id
                    }) }}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td class="table-success" colspan="4" align=right>Total price:</td>
            <td class="table-success">{{ order.total/100 }} $</td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <p>Product status: {{ order.status }}</p>
        {{ form(form) }}
    </div>
    </div>
</div>
{% endblock %}

